
@use "../../../Styles/mixines" as mi; 





.addmember-container{
    display: flex;
    flex-direction: column;

    align-items: center;
    
    
    }
    .card{
      width: 40%;
    margin: 5rem 0;
    border-radius: 1rem;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
    @include mi.respond (phone){
 
        width: 100%;
      
        
         
         }
     
    
    }
    .card-title{

        padding: 0 0 5rem 0;
        margin: 0;
        color: #007bff; ;
    
    }
    
 
    
    label{
        font-size: 1.8rem;
        padding-left: 1rem;
        // padding-bottom: 2rem;
        color: #007bff; ;
    }
    input{
        padding:1.6rem;
        font-size: 1.6rem;
        // margin-bottom: 5rem;
        border-radius: 1.5rem;
    }

    .submitBtn{
        display: flex;
        justify-content: center;
        
    }
    .btn-primary{
        font-size: 1.6rem;
        margin-top: 2rem;
        padding:1rem 3rem;
        border-radius: 3rem;
    }

    .ng-invalid .ng-touched {
        border: 2px solid red ;
    
    }
    .ng-touched  .ng-valid{
        border: 2px solid green ;
    }
    .errorMessage {
        padding:2rem 4rem;
        font-size: 2rem;
    }