<div class="container addmember-container" >



    <div class="card" >
        <div class="card-body">
          <h1 class="card-title center-text" >ADD ADMIN</h1>
          <div class="errorMessage alert alert-danger center-text"   [className]="error?'errorMessage alert alert-danger center-text':'errorMessage alert alert-success center-text'   " role="alert"*ngIf='message'>{{message}}</div>
          <form [formGroup]="addAdminForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="name">Full Name</label>
                <input type="text" class="form-control" id="name" placeholder="fullname" formControlName="name">
              </div>
            <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" formControlName="email"> 
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" placeholder="password" formControlName="password">
            </div>
   
              <div class="submitBtn">
            <button type="submit" class="btn btn-primary " [disabled]="!addAdminForm.valid">Add Admin</button>
        </div>
          </form>
        
          
        </div>
      </div>



</div>

